<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
{{> header}}

<p>Hi {{userName}} {{screamIt welcomeMessage}},<br>this the Home page for the Project</p>
<p>What would you like to do today</p>
{{> footer}}
</body>
</html>