<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
{{> header}}
<p>{{screamIt 'Hi this the Project page for the Project'}}</p>

{{> footer}}
</body>
</html>